{% include "overall_header.html" %}

<h1>{L_SETTINGS}</h1>

<form id="acp_board" method="post" action="{U_ACTION}">
	<fieldset>
		<dl>
			<dt><label for="incubator_from_id">Migrate posts from forum:</label></dt>
      <dd>
          <select>
            <option>------</option>
            {{ F_OPTIONS }}
          </select>
      </dd>
		</dl>

		<dl>
			<dt><label for="incubator_to_id">To forum:</label></dt>
      <dd>
          <select>
            <option>------</option>
            {{ T_OPTIONS }}
          </select>
      </dd>
		</dl>

		<dl>
			<dt><label for="incubator_days">After how many days:</label></dt>
      <dd>
        <input type="text" name="incubator_days" value="{DAYS}">
      </dd>
		</dl>

		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		</p>

		{S_FORM_TOKEN}
	</fieldset>
</form>

{% include "overall_footer.html" %}
