{% include "overall_header.html" %}

<h1>{{ lang("SETTINGS") }}</h1>

<form id="acp_incubator" method="post" action="{{ U_ACTION }}">
	<fieldset class="tabulated">
		<table>
			<thead>
				<tr>
					<th>From Forum</th>
					<th>To Forum</th>
					<th>Days</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for row in loops.rows %}
				<tr>
					<td>
						<select>
							{{ row.F_OPTIONS }}
						</select>
					</td>
					<td>
						<select>
							{{ row.T_OPTIONS }}
						</select>
					</td>
					<td><input type="text" value="{row.DAYS}"></td>
					<td>
						<a href="{row.U_DELETE}" data-ajax="row_delete">{ICON_DELETE}</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />
		</p>

		<!-- form key security check -->
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include "overall_footer.html" %}
